html,
body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,b,
u,i,center,dl,dt,dd,ol,ul,li,fieldset,
form,label,legend,table,caption,tbody,tfoot,
thead,tr,th,td,article,aside,canvas,details,embed,
figure,figcaption,footer,header,hgroup,menu,
nav,output,ruby,section,summary,time,mark,audio,
video{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline}html{line-height:1}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}
caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}q,
blockquote{quotes:none}q:before,q:after,
blockquote:before,
blockquote:after{content:"";content:none}a img{border:none}article,
aside,details,figcaption,figure,footer,header,
hgroup,main,menu,nav,section,
summary{display:block}.center{display:block;margin-left:auto;margin-right:auto}.no-flexbox .post-preview-title,.vertical-align{position:relative;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}.underline,
main h1{position:relative;padding-top:6rem;padding-bottom:3rem;margin-bottom:3rem}.underline::after,
main h1::after{content:'';display:block;position:absolute;bottom:0;left:50%;width:16rem;height:4px;margin-left:-8rem;background-color:#525e65}*{box-sizing:border-box}html,
body{width:100%;min-width:20rem;overflow-x:hidden}body{margin-top:3rem;font:normal 100%/1.5 "Titillium Web",sans-serif;color:#DBE8D4;background-color:#222733}a{color:#73CCA8;text-decoration:none;cursor:pointer}a:hover,a:focus{border-bottom:4px solid #73CCA8}h1,h2,h3,h4,h5,
h6{font-family:"Josefin Sans",sans-serif;font-weight:400;font-style:normal;letter-spacing:0.125em;text-align:center;text-transform:uppercase;line-height:1.25;margin:3rem 0}h1{font-weight:400;font-size:2rem}h2{font-weight:700;font-size:1.75rem;margin-bottom:0}h3{font-weight:400;font-size:1.5rem;margin-top:0;margin-bottom:0;color:rgba(219,232,212,0.5)}h4{font-weight:700;font-size:1.25rem}p{margin:1em 0;line-height:1.5}p:first-child{margin-top:0}p:last-child{margin-bottom:0}ul,ol{margin-bottom:1em;margin-left:2em}ul{list-style-type:disc}ol{list-style-type:decimal}i,
em{font-style:italic}b,
strong{font-weight:bold}hr{margin:6rem auto;border:none;width:100%;height:4px;background-color:#525e65}.container{width:100%;padding:0 1rem}@media only screen and (min-width: 75rem){.container{margin:0 auto;padding-right:1rem;padding-left:1rem;width:1200px}}.page-section{padding-top:6rem;padding-bottom:6rem}.main-column{width:28rem;margin:0 auto}.site-title{padding:1em 0;text-align:center;margin-bottom:2em}.site-title h1{font-size:1.5em;font-weight:100;line-height:1.25;padding:0;margin:0}.site-title h1::after{display:none}.site-title h2{color:#525e65;font-weight:700;font-size:1em;line-height:1.25;padding:0;margin:0}.site-title a{color:inherit;border:none}.site-title a:hover,
.site-title a:focus{color:#73CCA8;border:none}#site-footer{position:relative;padding:2em 0;height:100vh;min-height:34em;text-align:center}#site-footer 
.footer-content{position:absolute;bottom:0;left:0;width:100%;overflow:hidden}#site-footer .logo{width:12em;height:12em;margin:2em auto}#site-footer 
.logo img{display:block;width:100%;height:100%}#site-footer .down-below{position:relative;padding-top:2rem}#site-footer 
.down-below::before{content:'';display:block;position:absolute;top:0;left:50%;width:120rem;width:200vw;height:120rem;height:200vw;margin-left:-60rem;margin-left:-100vw;z-index:-1;border-radius:50%;background-color:#2E3445}#site-footer 
.links{margin:2em 0}#site-footer 
.links li{display:inline-block;margin:0 0.25em}#site-footer 
.links a{display:block;width:1.5em;height:1.5em;color:#222733;font-size:1.5em;line-height:1.5em;text-align:center;background-color:#DBE8D4;border-radius:50%;box-shadow:0 2px 10px 0 rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.2)}#site-footer 
.links a:hover,#site-footer .links a:focus{border:none;background-color:#73CCA8;box-shadow:0 7px 20px 0 rgba(0,0,0,0.2),0 4px 10px 0 rgba(0,0,0,0.2)}#site-footer 
.info{font-size:0.8em;color:#525e65}#site-footer 
.to-top{display:block;margin:4rem auto 2rem;width:4rem;height:4rem;text-align:center;line-height:4rem;border:none;background-color:#DBE8D4;color:#222733;border-radius:50%;cursor:pointer;box-shadow:0 7px 20px 0 rgba(0,0,0,0.2),0 4px 10px 0 rgba(0,0,0,0.2)}#site-footer .to-top 
.fa{font-size:2em;line-height:inherit}#site-footer 
.to-top:hover,#site-footer .to-top:focus{background-color:#73CCA8;box-shadow:0 16px 30px 0 rgba(0,0,0,0.2),0 9px 15px 0 rgba(0,0,0,0.2)}#site-nav{position:fixed;top:0;left:0;width:100%;min-width:20rem;z-index:999;background-color:#525e65;text-align:center;box-shadow:0 7px 20px 0 rgba(0,0,0,0.2),0 4px 10px 0 rgba(0,0,0,0.2)}#site-nav ul{margin:0;list-style:none}#site-nav li{display:inline-block}#site-nav a{display:block;height:3rem;padding:0 1rem;color:#DBE8D4;line-height:3em}#site-nav a:hover,#site-nav a:focus{color:#73CCA8;border-bottom:4px solid #73CCA8}@media only screen and (max-width: 30rem){#site-nav a{padding:0 0.5rem}}#site-nav 
.current-menu-item a,#site-nav .current-menu-parent a{color:#73CCA8;border-bottom:4px solid #73CCA8}
.circle{width:9em;height:9em;border-radius:4.5em}
.gallery{position:relative;padding:0;margin:2em 0 4em;width:100vw;height:15em;left:calc(-50vw + 50%);white-space:nowrap}@media only screen and (min-width: 45rem){.gallery{height:20em}}
.gallery 
.gallery-item{position:relative;display:inline-block;height:100%}
.gallery 
.gallery-item a{display:block;height:100%;border:none}
.gallery 
.gallery-item img{height:100%;width:auto}
.gallery 
.gallery-icon{height:100%}
.gallery 
.gallery-prev,
.gallery 
.gallery-next{position:absolute;display:block;top:0;width:3em;height:100%;padding:0;margin:0;color:#DBE8D4;font-size:1em;border:none;background-color:transparent;cursor:pointer}.gallery 
.gallery-prev i,.gallery .gallery-next i{position:absolute;display:block;top:50%;left:50%;width:2em;height:2em;margin-top:-1em;margin-left:-1em;font-size:2em;text-align:center;line-height:2em}.gallery 
.gallery-prev:hover,.gallery .gallery-prev:focus,.gallery .gallery-next:hover,.gallery 
.gallery-next:focus{color:#73CCA8}.gallery .gallery-prev{left:0}.gallery .gallery-next{right:0}.gallery .slick-list,.gallery .slick-track{height:100%}.gallery .slick-slide{display:block;opacity:0.25;-webkit-transition:all 0.5s ease;transition:all 0.5s ease}.gallery .slick-slide.slick-center{opacity:1}.gallery .slick-dots{bottom:-2em;padding:0;margin:0;height:2em}.gallery .slick-dots li{width:auto;height:auto}.gallery 
.slick-dots li.slick-active button::before{color:#DBE8D4}.gallery .slick-dots button{height:2em;width:1em;padding:0;font-size:1em;text-align:center;line-height:2em}.gallery .slick-dots button::before{width:100%;height:100%;color:#DBE8D4;line-height:inherit}.gallery .slick-dots button:hover::before,.gallery .slick-dots button:focus::before{color:#73CCA8}.no-js .gallery .gallery-item{display:inline-block}
.featherlight{z-index:9999}.featherlight-next span,.featherlight-previous span{text-shadow:0 1px 0 #110d17,0 -1px 0 #110d17,1px 0 0 #110d17,-1px 0 0 #110d17}.featherlight-next:hover,
.featherlight-next:focus,.featherlight-previous:hover,.featherlight-previous:focus{background:transparent}.post-header,.category-header,.archive-header{margin-bottom:6rem;text-align:center}.post-title,.archive-title{font-size:3rem;font-weight:100;padding:0;margin:6rem 0}.post-title::after,.archive-title::after{display:none}@media only screen and (max-width: 30rem){.post-title,.archive-title{font-size:2rem}}@media only screen and (min-width: 45rem){.post-title,.archive-title{font-size:4rem}}
.post-content{width:28rem;margin:0 auto;font-size:1.2rem;text-align:justify}@media only screen and (max-width: 30rem){.post-content{width:100%}}.post-footer{margin-top:6rem;text-align:center}.post-footer 
.tag-list{margin:1rem 0;list-style:none}.post-footer .tag-list li{display:inline-block;margin:0 0.5rem}.category-section,.archive-section{text-align:center}.category-section{margin:6rem 0}.category-description,
.archive-description{color:#485E81}.category-preview,.archive-preview{text-align:center;list-style:none;margin-left:0}.category-preview li,.archive-preview li{display:inline-block;margin:0.5rem;vertical-align:middle}
.post-preview{
    position:relative;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    width:6rem;height:6rem;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    border:none;
    background-color:#2E3445;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    border-radius:50%;
    color:#DBE8D4;
    -webkit-transition:all 0.5s ease;
    transition:all 0.5s ease}

.post-preview::before{content:'';display:block;position:absolute;top:0;left:0;width:100%;height:100%;z-index:0;background-color:rgba(34,39,51,0.5);-webkit-transition:all 0.5s ease;transition:all 0.5s ease}
.post-preview:hover,
.post-preview:focus{border:none;box-shadow:0 7px 20px 0 rgba(0,0,0,0.2),0 4px 10px 0 rgba(0,0,0,0.2)}
.post-preview:hover::before,
.post-preview:focus::before{background-color:rgba(34,39,51,0)}
.post-preview:hover 
.post-preview-title,
.post-preview:focus 
.post-preview-title{opacity:0}@media only screen and (min-width: 36rem){.post-preview{width:10rem;height:10rem}}.no-flexbox 
.post-preview{-webkit-transform-style:preserve-3d;transform-style:preserve-3d}
.post-preview-title{position:relative;display:block;width:100%;padding:0.5rem;font-weight:700;text-align:center;text-shadow:0 1px 0 #110d17,0 -1px 0 #110d17,1px 0 0 #110d17,-1px 0 0 #110d17;opacity:1;-webkit-transition:opacity 0.5s ease;transition:opacity 0.5s ease}.no-flexbox 
.post-preview-title{display:block}